/* UNIVERSAL STYLES */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* --primary-color: #ff8c69; */
    --primary-color: #00afef;
    --background-color: #fff;
    --text-color: #282C34;
}

.light-theme {
    --background-color: #282C34;
    --text-color: #fff;
}

html {
    font-size: 16px;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    height: 100%;
    transition: all 1s;
}

section {
    padding: 4rem 15%;
}

.title {
    color: var(--primary-color);
    text-align: center;
    margin: 3rem 0;
}

/* FONTS */

h1 {
    font-size: 7.5rem;
    font-weight: 600;
}

h2 {
    font-size: 3rem;
    font-weight: 500;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
}

h4 {
    font-size: 1.75rem;
    font-weight: 500;
}

h5 {
    font-size: 1.75rem;
    font-weight: 600;
}

a {
    cursor: pointer;
}

/* HEADER */

.navigation {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all 1s;
}

.navigation a {
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    margin-right: 3rem;
    transition: color 0.5s;
}

.navigation a:hover {
    color: var(--primary-color);
}

.navigation a::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.toggle-btn {
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.5s;
}

.toggle-btn:hover {
    color: var(--primary-color);
}

.navigation.sticky {
    background-color: var(--text-color);
    height: 4rem;
}

.navigation.sticky a {
    color: var(--background-color);
}

.navigation.sticky a::after {
    background-color: var(--background-color);
}

.navigation.sticky .toggle-btn {
    transform: scale(1);
    transition: transform .75s;
}

.navigation.sticky .toggle-btn:hover {
    transform: scale(1.1);
}

.navigation.sticky .toggle-btn {
    color: var(--background-color);
}

/* HOME */

.home {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-animate-1 {
    opacity: 0;
    animation: fadeUp 0.5s forwards;
}

.home-animate-2 {
    opacity: 0;
    animation: fadeUp 0.5s forwards;
    animation-delay: 0.5s;
}

.home-animate-3 {
    opacity: 0;
    animation: fadeUp 0.5s forwards;
    animation-delay: 1s;
    overflow: hidden;
}

.typed-text {
    color: var(--primary-color);
}

.text-cursor {
    display: inline-block;
    background-color: var(--text-color);
    width: 3px;
    margin-left: 1px;
    transition: background-color 1s;
    animation: blink 1s infinite;
}

.text-cursor.typing {
    animation: none;
}

.home-links {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.btn {
    color: #fff;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    padding: .5rem 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.5s;
}

.btn:hover {
    color: var(--text-color);
    background-color: transparent;
    border: 2px solid var(--primary-color);
}

.icons {
    display: flex;
    list-style: none;
    line-height: 0;
}

.icons a {
    color: var(--text-color);
    font-size: 2.25rem;
    margin-left: 2rem;
    transition: color 0.5s;
}

.icons a:hover {
    color: var(--primary-color);
}

/* HOME ANIMATIONS */

@keyframes fadeUp {
    0%{
        transform: translateY(3rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes blink {
    0%{
        background-color: var(--text-color);
    }
    49%{
        background-color: var(--text-color);
    }
    50%{
        background-color: transparent;
    }
    99%{
        background-color: transparent;
    }
    100%{
        background-color: var(--text-color);
    }
}

/* ABOUT */

.about-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-left {
    width: 40%;
}

.about-right {
    width: 55%;
}

.about-left img {
    display: block;
    width: 100%;
    border-radius: 50%;
}

.about-right p {
    margin-bottom: 1.5rem;
    line-height: 1.75rem;
}


.about-right p a {
    color: var(--text-color);
    transition: color 1s;
}

.bold {
    font-weight: 700;
}

.technologies {
    display: grid;
    grid-template-columns: repeat(2, minmax(144px, 208px));
    margin-top: .5rem;
    list-style: none;
    overflow: hidden;
}

.technologies li {
    position: relative;
    padding-left: 1rem;
    margin-top: .25rem;
}

.technologies li::before {
    content: ">";
    position: absolute;
    left: 0px;
    color: var(--primary-color);
    font-weight: 500;
}

/* FEATURED PROJECTS */

.project-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.project-container:not(:last-child) {
    margin-bottom: 3rem;
}

.project-left-img {
    width: 60%;
    border-radius: .5rem;
    overflow: hidden;
}

.project-right-text {
    width: 35%;
    text-align: right;
}

.project-left-img img {
    width: 100%;
    display: block;
    transition: transform 0.5s;
}

.project-left-img img:hover {
    transform: scale(1.025);
    cursor: pointer;
}

.project-description {
    margin: 1rem 0;
    line-height: 1.75rem;
}

.project-description a {
    color: var(--text-color);
    transition: color 1s;
}

.project-span {
    font-size: .75rem;
    color: var(--text-color);
    font-weight: 700;
    word-spacing: 2px;
    transition: color 1s;
}

.project-right-links {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.project-btn {
    color: #fff;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.5s;
}

.project-btn:hover {
    color: var(--text-color);
    background-color: transparent;
    border: 2px solid var(--primary-color);
}

.btn-right {
    margin-left: 1rem;
}

.project-left-text {
    width: 35%;
    text-align: left;
}

.project-right-img {
    width: 60%;
    border-radius: .5rem;
    overflow: hidden;
}

.project-left-links {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
}

.btn-left {
    margin-right: 1rem;
}

.project-right-img img {
    width: 100%;
    display: block;
    transition: transform 0.5s;
}

.project-right-img img:hover {
    transform: scale(1.025);
    cursor: pointer;
}

/* ADDITIONAL PROJECTS */

.additional-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(432px, 1fr));
    grid-gap: 2rem;
}

.project-box {
    background-color: rgba(0, 0, 0, 0.125);
    padding: 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: transform 0.5s;
}

.project-box:hover {
    transform: translateY(-.5rem);
}

/* CONTACT */

.contact {
    text-align: center;
}

.contact .btn {
    margin: 2rem 0;
}

.contact .icons {
    justify-content: center;
    line-height: 0;
}

.contact .icons a {
    margin: 0 1rem;
}

/* FOOTER */

footer {
    padding: 1.5rem;
    text-align: center;
}

footer p {
    font-size: 14px;
    margin-bottom: 0;
}

footer a {
    color: var(--text-color);
    text-decoration: underline;
    transition: color 1s;
}